[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
ipython = "*"
lxml = "*"
requests = "*"
tencentcloud-sdk-python-tmt = "*"
markdown = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"
